// app global css in Sass form
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

body {
  font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
}

q-page {
  background: #fff8f8;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-Img {
  max-width: 992px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  margin: 0 auto;
  padding: 12px 20px;
}

.wrapper-global {
  padding: 50px 0;
}

.service-spacing {
  padding-left: 30px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
}

h3 {
  margin: 0;
  font-size: 21px;
}

h4 {
  margin: 0;
  font-size: 18px;
}

h5 {
  margin: 0;
  font-size: 17px;
}

h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

p {
  margin: 0;
}

.page-title {
  font-size: 22px;
  font-weight: 600;
}

.hyper-link {
  text-decoration: none;
  color: #000;
}
.rounded-corner {
  border-radius: 20px 20px 20px 20px;
}

.hotel-list-border {
  border: 1px solid #d7caca;
}

.service-bar-alignment {
  position: absolute;
  bottom: 135px;
  width: 835px;
  z-index: 10;
}

.service-border {
  border-radius: 10px;
}

.search-bar-alignment {
  position: absolute;
  bottom: -50px;
  background-color: #1c9740;
  width: 940px;
}

.mobile-slider-menu {
  max-height: 100px;
  overflow-x: auto;
  display: flex;
  z-index: 10;
}

.mobile-slider-menu::-webkit-scrollbar {
  display: none;
}
.mobile-slider-menu .item {
  height: 40px;
  min-width: 180px;
  border: 0.1px solid #146c2e;
  background-color: #eebf32;
  color: #146c2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-card-size {
  width: 700px;
  max-width: 80vw;
}

.dialog-card-size {
  width: 700px;
  max-width: 80vw;
}

.original-price {
  font-size: 16px;
  font-weight: 500;
}
.price {
  font-size: 17px;
  font-weight: 600;
}
.discount {
  width: fit-content;
  font-size: 14px;
}
.room-price {
  font-size: 16px;
}
.payment-amount {
  font-size: 15px;
  font-weight: 500;
}
@media only screen and(min-width: 576px) {
  .wrapper-global {
    padding: 20px 0;
  }
  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
    font-size: 25px;
  }

  h3 {
    margin: 0;
    font-size: 20px;
  }

  h4 {
    margin: 0;
    font-size: 18px;
  }

  h5 {
    margin: 0;
    font-size: 15px !important;
  }

  h6 {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
  }

  p {
    margin: 0;
  }
  .rounded-corner {
    border-radius: 20px 20px 20px 20px;
  }
  .offers {
    width: 500px;
  }
  .container {
    max-width: 540px;
  }
  .original-price {
    font-size: 17px;
    font-weight: 500;
  }
  .price {
    font-size: 18px;
    font-weight: 600;
  }
  .discount {
    width: fit-content;
    font-size: 15px;
  }
  .room-detail-space {
    height: 65px;
  }
  .payment-amount {
    font-size: 16px;
    font-weight: 500;
  }
}

@media only screen and(min-width: 768px) {
  .wrapper-global {
    padding: 30px 0;
  }

  .service-bar-alignment {
    position: absolute;
    bottom: 120px;
    width: 690px;
    z-index: 10;
  }

  .service-border {
    border-radius: 13px;
  }

  .search-bar-alignment {
    position: absolute;
    bottom: -50px;
    background-color: #1c9740;
    height: 195px;
    width: 730px;
  }

  .mobile-slider-menu {
    max-height: 100px;
    overflow-x: auto;
    display: flex;
    z-index: 10;
  }

  .mobile-slider-menu::-webkit-scrollbar {
    display: none;
  }
  .mobile-slider-menu .item {
    height: 40px;
    width: 80px;
    line-height: 40px;
    border: 0.1px solid #146c2e;
    background-color: #eebf32;
    color: #146c2e;
  }
  .filter-options {
    width: 100%;
  }
  .container {
    max-width: 720px;
  }
  .original-price {
    font-size: 18px;
    font-weight: 500;
  }
  .price {
    font-size: 19px;
    font-weight: 600;
  }
  .discount {
    width: fit-content;
    font-size: 16px;
  }
  .room-detail-space {
    height: 153px;
  }
  .payment-amount {
    font-size: 16px;
    font-weight: 500;
  }
  .mobile-slider-menu {
    max-height: 100px;
    overflow-x: auto;
    display: flex;
    z-index: 10;
  }

  .mobile-slider-menu::-webkit-scrollbar {
    display: none;
  }
  .mobile-slider-menu .item {
    height: 40px;
    min-width: 220px;
    border: 0.1px solid #146c2e;
    background-color: #eebf32;
    color: #146c2e;
    display: flex;
    line-height: 25px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and(min-width: 992px) {
  .wrapper-global {
    padding: 20px 0;
  }
  .service-bar-alignment {
    position: absolute;
    bottom: 125px;
    width: 660px;
    z-index: 10;
  }

  .service-border {
    border-radius: 13px;
  }

  .search-bar-alignment {
    position: absolute;
    bottom: -50px;
    background-color: #1c9740;
    height: 195px;
    width: 730px;
  }

  .container {
    max-width: 960px;
  }
  .original-price {
    font-size: 18px;
    font-weight: 500;
  }
  .price {
    font-size: 19px;
    font-weight: 600;
  }
  .discount {
    width: fit-content;
    font-size: 16px;
  }
  .room-detail-space {
    height: 205px;
  }
  .payment-amount {
    font-size: 17px;
    font-weight: 500;
  }
}

@media only screen and(min-width: 1200px) {
  .service-bar-alignment {
    position: absolute;
    bottom: 120px;
    width: 835px;
    z-index: 10;
  }

  .service-border {
    border-radius: 10px;
  }

  .search-bar-alignment {
    position: absolute;
    bottom: -50px;
    background-color: #1c9740;
    height: 195px;
    width: 900px;
  }

  .container {
    max-width: 1140px;
  }
  .original-price {
    font-size: 18px;
    font-weight: 500;
  }
  .price {
    font-size: 19px;
    font-weight: 600;
  }
  .discount {
    width: fit-content;
    font-size: 16px;
  }
  .payment-amount {
    font-size: 17px;
    font-weight: 500;
  }
}
//admin
.admin-container {
  margin: 0 auto;
  padding: 0 60px;
}
.admin-bg {
  background: #f7f7f7;
}
.main-heading {
  font-size: 21px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  margin: 0.67em 0;
}
.form-heading {
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  margin: 0.67em 0;
}
.page-image {
  height: 150px;
  max-width: 150px;
}
.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow-initial {
  white-space: initial;
  overflow: hidden;
}
.disable-table-hover-effects > td:before {
  background: rgba(167, 19, 19, 0) !important;
}
.padding-none {
  padding: 0 !important;
}
.font-10 {
  font-size: 10px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.font-25 {
  font-size: 25px;
}
.font-30 {
  font-size: 30px;
}
.bg-none {
  background: none !important;
}

.heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 8px 0px;
}

.color-gery {
  color: rgb(42, 42, 46);
}
.card-heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.card-content {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(115, 115, 115);
}

.text-decoration-none {
  text-decoration: none;
}

.list-style-type-none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.absolute-body {
  position: absolute;
  top: 0px;
  width: 100%;
}

.bg-grey-transparent {
  background: rgba(255, 253, 253, 0.54);
}

.border-y {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-top-20 {
  border-radius: 20px 20px 0 0;
}
